<div class="container mt-5">
  <div class="card mb-4">
      <div class="card-header">
        <h6 class="mb-0">CSV Dosyası Yükle</h6>
      </div>
        <div class="card-body">
        <%= form_with url: import_csv_admin_allowed_students_path, local: true, multipart: true, html: { class: "mb-0" } do |form| %>
          <div class="mb-3">
            <%= form.label :file, "CSV Dosyası Seçin", class: "form-label" %>
            <%= form.file_field :file, class: "form-control" %>
          </div>
          <%= form.submit "CSV Yükle", class: "btn btn-outline-primary" %>
        <% end %>
      </div>
  </div>
 
  <h2 class="mb-4">Sistemde Kayıtlı Olmayan Öğrenciler</h2>

  <% registered_emails = User.pluck(:email) %>

  <% if @allowed_students.any? { |s| !registered_emails.include?(s.email) } %>
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-bordered table-striped align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Öğrenci No</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @allowed_students.each do |student| %>
            <% unless registered_emails.include?(student.email) %>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.surname %></td>
                <td><%= student.student_number %></td>
                <td><%= student.email %></td>
                <td class="text-center">
                  <%= button_to "Sil", admin_allowed_student_path(student), method: :delete, data: { confirm: "Bu öğrenciyi silmek istediğinize emin misiniz?" }, class: "btn btn-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-info mt-3">
      Sisteme kayıtlı olmayan öğrenci bulunmamaktadır.
    </div>
  <% end %>
</div>
